<h3>This is content from employee Component !</h3>
<input (click)="OnClick(name.value)" class="btn btn-primary" type="button" [value]="buttonName">
<input type="text" #name>
<h3 [class.redContent]="applyContent">{{qoute}}</h3>
<button (click)="Toggle()">Change Color</button>
<h4 [style.color]="applyContent?'gray':'black'">This is content apply dynamic style</h4>
<input type="text" [(ngModel)]="employeeName">
<h4>Welcome {{employeeName}} !</h4>
<button (click)="disableElement()">{{show?'Hide':'Show'}}</button>
<h4 *ngIf="show">This is content show by ngIF</h4>

<ul style="list-style: none">
    <li [style.color]="emp.status?'gray':'red'" *ngFor="let emp of employees">{{emp.employeeName}}</li>
</ul>